{% extends "votingapp/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div style="width: 650px; margin: auto;" class="row mb-3">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <div class="form-group">
            <label for="password" class="col-sm-2 col-form-label"> Current Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="colFormLabel" name="oldpassword" required placeholder="Current Password">
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-sm-2 col-form-label"> New Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="colFormLabel" name="password1" required placeholder="New Password">
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-sm-2 col-form-label">New Password(again)</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="colFormLabel" name="password2" required placeholder="New Password(again)">
            </div>
          </div>
        
        <button class="btn btn-dark btn-lg" type="submit" name="action">{% trans "Change Password" %}</button>
       <br><br> <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>

</div>
{% endblock content %}
